<img src="assets/dmcplaceholdertitle3expanded_fin.png">
<br>

Dungeon Man is a multiplayer deck-building rogue-like and dungeon building game that will be available on Steam, Android  and IOS. Players choose an adventurer class
and explore other players dungeons, assembling new decks and finding new monsters & traps to place in their own dungeons. Initial development began in 2020 using Unity
as a prototyping surface. We are currently exploring additional funding options and a potential kickstarter campaign while we continue to refine the under lying game systems
and iterate on alpha prototpes.<br><br>
Contact:<br>
<a href="mailto:jack@playdungeonman.com"> Jack@playdungeonman.com</a>


<angular-image-slider
  [autoRotate]="true"
  [autoRotateAfter]="1500"
  [autoRotateRight]="true"
  [images]="imagesUrl"></angular-image-slider>
